@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

html{
    font-family: 'Dancing Script', cursive;
    margin: 0;
    color: #ebba98;
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    background-color: #ebba98;
}

.firstPage{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

br{
    display: none;
}

.header{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    margin: 0;
    text-align: center;
    background-color: #2c1f1b;
}

.image{
    min-height: 40%;
    background: transparent;
    background-size: cover;
    height: 97%;
    position: relative;
}

.title{
    position: relative;
    top: 20%;
}

.titleLogo{
    font-size: 135px;
    text-align: center;
    color: #2c1f1b;
    padding-bottom: 0;
    margin: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ebba98;
}

h1{
    font-weight: 700;
    /* font-size: 86px; */
}

h2{
    font-weight: 400;
    /* font-size: 64px; */
}

a{
    text-decoration: none;
    color: #2c1f1b;
    /* font-size: 52px; */
}

.text{
    display: none;
    /* top: 10%; */
    color: #2c1f1b;
    position: relative;
    text-align: center;
    height: 100%;
    z-index: 1;
}

.secondPage{
    display: none;
}

.thirdPage{
    display: none;
     height: 100%; 
}

.boxes{
    height: 97%;
}

.row{
    width: 100%;
    height: 50%;
    display: flex;
}

.box-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 100%;
}

.box-text{
    width: 25%;
    height: 100%;
    color: #2c1f1b;
    text-align: center;
}

.contactData{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
  }
  


.locationIcon{
background-image: url(./icons/pin.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
margin-left: auto;
margin-right: auto;
position: relative;
width: 20px;
height: 20px;
padding-right: 24x;
padding-top: 24px;
}

.phoneIcon{
background-image: url(./icons/smartphone.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
margin-left: auto;
margin-right: auto;
position: relative;
width: 20px;
height: 20px;
padding-right: 24px;
margin-top: 24px;
}

.copyright{
  background-color: #2c1f1b;
  color: #ebba98;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 8px;
  height: 3%;
}

.author{
    font-size: 18px;
}

.callButton{
    display: none;
}

@media only screen and (max-width: 1000px) {

    .boxes{
        display: none;
    }

    .firstPage{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .header{
        width: 100%;
        padding-top: 14px;
        /* padding-bottom: 14px; */
        font-size: 45px;
        margin: 0;
        text-align: center;
        background-color: #2c1f1b;
    }
    
    .image{
        min-height: unset;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 30%;
        top: 10%;
        position: relative;
    }
    
    .title{
        position: relative;
        top: 20%;
    }
    
    .titleLogo{
        font-size: 135px;
        text-align: center;
        color: #2c1f1b;
        padding-bottom: 0;
        margin: 0;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #ebba98;
    }
    
    h1{
        font-weight: 700;
        font-size: 86px;
    }
    
    h2{
        font-weight: 400;
        font-size: 64px;
    }
    
    a{
        text-decoration: none;
        color: #2c1f1b;
        font-size: 36px;
    }
    
    .text{
        display: block;
        top: 10%;
        color: #2c1f1b;
        position: relative;
        text-align: center;
        height: max-content;
    }
    
    .secondPage{
        display: block;
        height: 100%;
    }
    
    .thirdPage{
        display: block;
         height: 100%; 
    }
    
    .contact{
        top: 10%;
        color: #2c1f1b;
        position: relative;
        text-align: center;
        height: 40%;
    }
    
    .contactData{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        top: 30%;
        text-align: center;
      }
      
    .dataPair{
    display: flex;
    margin-top: 50px;
    }
    
    .locationIcon{
    background-image: url(./icons/pin.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 0;
    margin-right: 36px;
    width: 64px;
    height: 64px;
    }
    
    .phoneIcon{
    background-image: url(./icons/smartphone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 0;
    margin: 0;
    margin-right: 36px;
    width: 64px;
    height: 64px;
    }
    
    br{
        display: unset;
    }

    .copyright{
      background-color: #2c1f1b;
      color: #ebba98;
      font-weight: 400;
      font-size: 36px;
      text-align: center;
      padding: 16px;
        height: fit-content;
    }

    .author{
        font-size: 36px;
    }

    .callButton{
        display: block;
        background-color: #2c1f1b;
        color: #ebba98;
        position: fixed;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        box-shadow: 2px 2px 3px #2c1f1b;
        right: 40px;
        bottom: 40px;
        text-align: center;
    }

    .material-icons{
        margin-top: 22px;
    }
}